{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'humanity/style.css' %}">
        <title>Humanity Project</title>
    </head>
    <div class="sidenav">
        <a href="{% url 'index'%}">Home</a>
        <a href="{% url 'people'%}">People</a>
        <a href="{% url 'events'%}">Events</a>
        <a href="{% url 'calls'%}">Calls</a>
    </div>
    <div class="main">
        {% if user.is_authenticated %}
            <p><a href="{% url 'logout' %}"><button class="btn btn-secondary ml-2 my-sm-0" style="float: right">Log Out</button></a></p>
        {% else %}
            <p><a href="{% url 'login' %}"><button class="btn btn-secondary ml-2 my-sm-0" style="float: right">Log Out</button></a></p>
        {% endif %}
        


        <div>
           <input type=button value="Back" onClick="javascript:history.go(-1);">
        </div>
        {% block content %}{% endblock content %}

        {% if messages %} 
        <div class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %} 
        </div>
        {% endif %} 
    </div>  
    
</html>
