{% extends "humanity/base.html" %}

{% block content %}
<p>Welcome to the Humanity Project.</p>
<p>This website is currently under development.</p>


<table style="width:25%;">
    <tr>
        <th>People</th>
        <td>{{ num_people }}</td>
    </tr>
    <tr>
        <th>Events</th>
        <td>{{ num_events }}</td>
    </tr>
    <tr>
        <th>People Contacted</th>
        <td>{{ num_contacted }}</td>
    </tr>
</table>
</p>

Capabilites:
<ul>
    <li>Create and manage People</li>
    <li>Organise Events</li>
    <li>Follow Up</li>
</ul>

Upcoming Features:
<ul>
    <li>See a Person's attendance</li>
    <li>See a person's Call Log</li>
    <li>Add Roles e.g. Speaker</li>
    <li>Tags</li>
    <li>Interests</li>
    <li>Tasks</li>
    <li>Export Data</li>
    <li>Web Server</li>
    <li>Backup and Disaster Recovery</li>
    <li>Security Testing</li>
    <li>More Bulk upload options</li>
    <li>Log In</li>
    <li>Restricted Permissions</li>
    <li>Groups</li>
    <li>Forum</li>
    <li>News Feed</li>
</ul>

    
    


{% endblock content %}

